@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dan Rocks</h1>
    <p>Learn about <a href="https://www.dkdevelopllc.com/">how awesome Dan Koehler is</a>.</p>
    <p><img src="https://cdn.shopify.com/s/files/1/0072/9605/7397/products/download-2020-07-03T164718.604_300x300.png?v=1593809298" /></p>
</div>

